
/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Open sans" Arial, Helvetica, sans-serif;
}
/* BODY */
.hero{
    height: 100vh;
    width: 100vw;
    background: #eff4fd;
}
/* TRABAJO CON EL MENU */
a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

nav ul li{
    display:inline-block;
    list-style: none;
    padding: 10px 20px;
}

nav ul li a{
    color:#1d1d24;
    position: relative;
    padding: 5px 0;
    font-weight: bold;
}
/* EFECTO DE COLOR ROJO SOBRE MENU */
nav ul li a:hover{
    color:#fd4766;
}
/* EFECTO  */
nav ul li a::after{
    content: "";
    bottom: 0;
    left: 0;    
    width: 0;   
    position: absolute;
    height: 3px;
    background: #fd4766;
    transition: .3s;
}
/* EFECTO por debajo del texto del menu */
nav ul li a:hover::after{
    width: 100%;
}
/* Trabajo con el btn de contratarme */
.btn{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    background: #fd4766;
    padding: 10px 10px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    border: 2px solid #fd4766;
}

.btn:hover{
    background: transparent;
    color:#fd4766
}
/* Trabajo con el logo */
.logo{
    font-size: 30px;
    font-weight: bold;
    color: blue;
    cursor: pointer;
}

.logo::first-letter{
    font-size: 40px;  
    border: 2px solid blue;
    border-right: transparent;
    padding-left: 5px;
    color:#fd4766;
}

/* Trabajo con el detail */
.detail{
    position: absolute;
    top: 35%;
    left: 8%;
}
/* TRABAJO CON EL TITULO */
.detail hi{
    color:#1d1d25;
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
}
/*TRABAJO CON LA PALABRA DENTRO DE SPAN */
.detail h1 span{
    color: #fd4766;
}
/*Trabajo con el parrafo */
.detail p{
    color: #1d1d25;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 30px;
}
/* TRABAJO CON MI FOTO */
.image{
    width: 25%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 200px;
}
.image img{
    display: block;
    width: 100%;
    height: auto;
}

/*ESTILO PRINCIPAL FOOTER */
.footer-estilo{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}

/* TRABAJO CON EL FOOTER LEFT (zok 2023) */
.footer-estilo .footer-izquierda p{
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}

/*TRABAJO CON FOOTER LINKS (estilo>links>p) */

.footer-estilo .footer-links p{
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}
/* TRABAJO CON LOS LINKS (links>a) */
.footer-estilo p.footer-links a{
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
}
/* EFECTO PARA LOS LINKS */
.footer-estilo .footer-links a:before{
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px
}
.footer-estilo .footer-links .link-1:before{
    content: none;
}
/*  TRABAJO CON FOOTER DERECHA */
.footer-estilo .footer-derecha{
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

/* TRABAJO CON LA CAJA DERECHA DEL FOOTER */
.footer-estilo .footer-derecha a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
}
.footer-estilo .footer-derecha a:hover{
    transform:scale(1.1);
    -webkit-transform: scale(1.1);
}
.footer-estilo p.footer-links a:hover{
    text-decoration:underline;
}
/*TRABAJO CON LAS IMAGENES DEL FOOTER */
.footer-derecha img{
    width: 20px;
}

/* TRABAJO CON LA PAGINA CONTACTO */
.row h1{
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 62px;
    color: #1d1d24;
    text-align: center;
}
.row h4{
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
    text-align: center;
}
/* FORM INPUTS */
    input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input{
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}
.styled-input label{
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}
.estilo-ancho{
    width: 650px;
    max-width: 100%; 
       
}
input, textarea{
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}
textarea{
    width: 100%;
    min-height: 15em;
}
.form{
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}
.btn-mandar{
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06), 0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
.btn-mandar:hover{
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10), 0 1px 1px 0 rgba(0,0,0,0.09);
}
/* TRABAJO CON COMPROMISO */
.main-c{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-c-texto{
    margin-top: 25px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.media{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
}
.imagen-c{
    margin-right: 20px;
}
/* TRABAJO CON EXPERIENCIA */
.main-e{
    display: flex;
    justify-content: space-between;
    background: #eff4fd;
    align-items: center;
}

.hijo{
    flex: 1;
    text-align: center;
}

.titulo{
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 62px;
    color: #1d1d24;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hijo img{
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
} 

.hijo p{
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
/* TRABAJO CON PORTAFOLIO */
.website1{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.website1 div{
    margin: 0 10px;
}

.centrar{
    text-align: center;
    margin: 0 auto;
}

.imagen-d{
    width: 500px;
    height: 300px;
}
/* Diseño Responsive */

@media (max-width: 600px) {
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact {
        width: 100%;
    }

    .centrar {
        width: 100%;
    }
    .footer-estilo {
        position: fixed;
        bottom: 0;
        width: 100%;
}
@media (max-width: 600px) {
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-c {
        text-align: center;
    }

    .media {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagen-c {
        width: 100%;
    }
}
