@media (max-width: 599px){
    header{
        nav{
            .btn{
                right: 150px;
                top: 135px;
            }
        }
    }
    .main-container{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        .video{
            position: relative;
            img{
                width: 250px;
                height: 350px;
            }
        }
        .detail{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1{
                text-align: center;
                font-size: 12px;
            }
            p{
                font-size: 14px;
                margin-top: 15px;
                margin-bottom: 20px;
            }
        }
    }
    .mobile{
        margin-bottom: 200px;
    }

    .media{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .imagen-c{
            width: 100%;
        }
        iframe{
            width: 100%;
        }
    }

    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .col-md-7{
            iframe{
                height: 400px;
                width: 400px;
            }
            img{
                width: 100%;
            }
        }
    }
    .main-responsive{
        .contact{
            width: 100%;
        }
    }
    .mobile-centrar{
        margin-top: 500px;
    }
    .btn-contacto{
        margin-bottom: 150px;
    }
    .centrar{
        width: 100%;
    }
    .footer-estilo{
        margin-top: 100px;
        bottom: 0;
        width: 100%;
    }
}

@media (min-width: 599px) and (max-width: 1024px){
    header{
        nav{
            .logo{
                margin-right: 60px;
            }
            .btn{
                margin-left: 50px;
            }
            ul{
                display:inline-block;
                list-style: none;
                padding: 10px 20px;
                li{
                    font-size: 15px;
                }
            }
        }
    }
    .main-container{
        display: flex;
        flex-direction: column;   
        .video{
            order: 1;
            img{
                height: 300px;
                width: 300px;
            }
        }
        .detail{
            order: 2;
        }
    }
    .media{
        margin-bottom: 10px;
        img{
            height: 200px;
            width: 300px;
        }
        iframe{
            height: 200px;
            width: 260px;
        }
    }
    .row{
        text-align: center;
        .col-md-7{
            iframe{
                height: 300px;
                width: 550px;
            }
        }
    }
    .main-responsive{
        .contact{
            width: 100%;
        }
    }
    .contact-form{
        align-items: center;
    }
    .mobile-centrar{
        margin-top: 500px;
    }
    .centrar{
        width: 100%;
    }
    .footer-estilo{
        margin-top: 100px;
        bottom: 0;
        width: 100%;
        .footer-derecha{
            width: 100%;
        }
    }
}
